@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>New Year's Cheese is our annual tradition of eating lots of cheese (and charcuterie), drinking wine, and playing board games on New Year's Eve.</p>
    <h2>New Year's Cheese 2023 details:</h2>
    <p>Starts at 7pm on Sunday, December 31st.</p>
</div>
